@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    width: auto;

}
:root{
  --cor0:#E0BF23;
  --cor2:#47F0AF;
  --cor3:#370D94;
   --cor4:#A541E0;
   --cor5:#E06E35;
}


body{
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: auto;
  height: auto;
  background-image: url(../images/background1.jpg);
   background-position: center center;
  background-size: cover;
   background-repeat: repeat-y;

   

}

header {
 height: 80px;
 width: 100%;
 background-color: goldenrod;
 display: flex;
 align-items: center;
 justify-content: space-between;
 flex-direction: grid;
} 

.dark-mode {
  background-color: #333;
  color: #fff;
}

.logo{
  font-size: 28px;
  font-weight: bold;
}

.hamburger{
  display: none;
}
.nav_bar > ul {
  display: flex;
 
  
}

.nav_bar > ul > li > a {
  display: block;
  color: white;
  font-size: 20px;
  padding: 20px 50px;
  border-radius: 50px;
  transition: 0.2s;
  margin:0 5px;
}

.nav_bar  > ul > li > a:hover{
  color: white;
  background: black;
}

.nav_bar >  ul > li > a.active{
  background:black;

}

main{
  height: 50vh;
  width: 50vw;
  margin: 20px;
  padding: 5px;
  border-radius: 20%;
}

main > .shopnow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/monitor-4.jpg);
  background-coloR:var(--cor4);
  background-size: cover;
  background-position: bottom center;
  height: 300px;
  
}

main > .shopnow > p {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 20%;
  font-weight: Bold;
}

main > .shopnow > button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  margin-bottom:  auto;
  padding:10px 20px;
  border-radius: 5px;
  color: black;
  background-color: white;
  
}

main > .shopnow > button:hover{
  background-color: var(--cor3);
}

main > .shopnow2 {
  background-image: url(../images/headphones-2.jpg);
  background-color:white;
  background-size: cover;
  background-position: center center;
  height: 300px;
}

main > .shopnow2 > p {
  color: white;
  text-align: center;
  padding-top: 20%;
  font-weight: bold;
}

main > .shopnow2 > button{
  display: block;
  cursor: pointer;
  justify-content: center;
  margin: 0 auto;
  padding:10px 20px;
  border-radius: 5px;
  color: black;
  background-color:white;
}

main > .shopnow2 > button:hover {
  background-color: var(--cor3);
}

main >.shopnow3 {
  background-image: url(../images/laptop-3.jpg);
  background-color: white;
  background-size: cover;
  background-position:center center;
  height: 300px;
}

main > .shopnow3 > p {
  color: white;
  text-align: center;
  padding-top: 20%;
  font-weight: bold;
}

main > .shopnow3 > button {
  display: block;
  cursor: pointer;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
  background-color:white;
}

main > .shopnow3 > button:hover{
  background-color: var(--cor3);
}

main > .shopnow4 {
  background-image: url(../images/iphone-1.jpg);
 
  background-color:white;
  background-size: cover;
  background-position: center center;
  height: 250px;
}

main > .shopnow4 > p {
  color: white;
  text-align: center;
  padding-top: 20%;
}

main > .shopnow4 > button {
  display: block;
  cursor: pointer;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  color: black;
  background-color: white;
}

main > .shopnow4 > button:hover{
  background-color: var(--cor3);
}

footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 150%;
  height: 5vh;
  width: 95%;
  color: black;
  background-color: grey;
  
}