@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    width: auto;

}
:root{
  --cor0:#E0BF23;
  --cor2:#47F0AF;
  --cor3:#370D94;
   --cor4:#A541E0;
   --cor5:#E06E35;
}


body{
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;

   

}

header {
 height: 80px;
 width: 100%;
 background-color: var(--cor0);
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0 10px;
} 

.logo{
  font-size: 28px;
  font-weight: bold;
}

.hamburger{
  display: none;
}
.nav_bar > ul {
  display: flex;
 
  
}

.nav_bar > ul > li > a {
  display: block;
  color: white;
  font-size: 20px;
  padding: 20px 50px;
  border-radius: 50px;
  transition: 0.2s;
  margin:0 5px;
}

.nav_bar  > ul > li > a:hover{
  color: white;
  background: black;
}

.nav_bar >  ul > li > a.active{
  background:black;

}

main{
  height: 50vh;
  width: 95vw;
  background-color:white;
  margin: auto;
  padding: 5px;
  border-radius: 2px;
}

main > .shopnow{
  background-image: url(../images/SHOPNOW.jpg);
  background-coloR:var(--cor4);
  background-size: cover;
  background-position: center center;
  height: 300px;
  
}

main > .shopnow > p {
  text-align: center;
  padding-top: 20%;
  font-weight: Bold;
}

main > .shopnow > button{
  display: block;
  cursor: pointer;
  justify-content: center;
  margin: 2px auto;
  padding:10px 20px;
  border-radius: 5px;
  color: white;
  background-color: black;
}

main > .shopnow > button:hover{
  background-color: var(--cor3);
}

main > .shopnow2 {
  background-image: url(../images/shopnow2.jpg);
  background-color:white;
  background-size: cover;
  background-position: center center;
  height: 300px;
}

main > .shopnow2 > p {
  text-align: center;
  padding-top: 20%;
  font-weight: bold;
}

main > .shopnow2 > button{
  display: block;
  cursor: pointer;
  justify-content: center;
  margin: 0 auto;
  padding:10px 20px;
  border-radius: 5px;
  color: white;
  background-color: black;
}

main > .shopnow2 > button:hover {
  background-color: var(--cor3);
}

main >.shopnow3 {
  background-image: url(../images/shopnow3.jpg);
  background-color: white;
  background-size: cover;
  background-position:center center;
  height: 300px;
}

main > .shopnow3 > p {
  text-align: center;
  padding-top: 20%;
  font-weight: bold;
}

main > .shopnow3 > button {
  display: block;
  cursor: pointer;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  background-color: black;
}

main > .shopnow3 > button:hover{
  background-color: var(--cor3);
}

main > .shopnow4 {
  background-image: url(../images/shopnow4.jpg);
  background-color:white;
  background-size: cover;
  background-position: center center;
  height: 250px;
}

main > .shopnow4 > p {
  text-align: center;
  padding-top: 20%;
}

main > .shopnow4 > button {
  display: block;
  cursor: pointer;
  justify-content: center;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  background-color: black;
}

main > .shopnow4 > button:hover{
  background-color: var(--cor3);
}


/*
 shop cart main page 
.container{
  margin: auto;
  transition: 0.5s;
  text-align: center;
}

.container > h1 {
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
   
}


.container > .shopping{
  position: relative;
  text-align: right;
  width: 40px; 
}


.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 10px;
  margin-top: 50px;
}

.card {
  text-align: left;
  top: 0;
  left: 100%;
  width: 200px;
  background-color: blue;
  height: 500px;
  float: right;
  height: 80vh;
  transition: 0.5s;
}

.card > h1 {
  color: var(--cor0);
  font-weight: bold;
  margin: 0;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}

.card > .checkout {
  position:absolute;
  bottom: 0;
  width: 40vw ;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  background-color: var(--cor0);
  height: 20px;
  display: flex;
  justify-content:center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.card > .checkout > .closeShopping{
    background-color: black;
    color: white;
    text-align: left;
}

.active > .card{
  left: calc(100% - 500px);
}
.active > .container {
  transform: translate(-200px);
}

*/
